* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: url("bg.jpg") no-repeat center/cover;
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding-top: 120px;
}

.title {
  display: inline-block;
  background: #f5c400;
  color: #000;
  padding: 15px 40px;
  border-radius: 40px;
  font-weight: bold;
  margin-bottom: 60px;
}

.players {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  background: #222;
  padding: 15px;
  width: 260px;
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  color: #f5c400;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.hero {
  
  width: 100%;
  height: 100vh; 
  background-image: url("./img/d22ff646d9597e221db37f94dd885e91ab17052e\ \(1\).png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.players {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 260px;
  background: #222;
}


.card img {
  width: 100%;
  height: 320px;     
  object-fit: cover;
  display: block;
    background: #fff;      
  border-radius: 10px;   
  overflow: hidden;   

}


.card p {
  color: #f5c400;
  padding: 15px 0;
  font-weight: bold;
   color: #000;          
  padding: 15px 0;
  font-weight: bold;
   box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.info {
  background: #000;
  color: #fff;
  padding: 80px 100px;
}

.info-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  color: #aaa;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}


.info-left,
.info-right {
  width: 48%;
}

.info-left img,
.info-right img {
  width: 100%;
  margin-bottom: 25px;
}

.info-left p,
.info-right p {
  line-height: 1.6;
  margin-bottom: 25px;
}


.btn {
  padding: 12px 35px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn.yellow {
  background: #f5c400;
  color: #000;
}

.btn.gray {
  background: #666;
  color: #fff;
}
 body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC107; 
    padding: 10px 20px;
  }


  .logo img {
    width: 100px;
    height: auto;
  }

  .social-buttons {
    display: flex;
    gap: 10px;
  }

  .social-buttons button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }

  
  .social-buttons button:hover {
    background-color: #333;
    transform: scale(1.1);
  }
  .footer-icons{
    background-color: #FFC107;
  }